*{
    margin: 0%;
}
.form{
    background-color: salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 100px;
    border: 5px solid red;
    text-align: center;
    line-height: 200%;
}